FIREBASE_DATABASE_URL=https://TU-PROYECTO-default-rtdb.firebaseio.com
FIREBASE_LECTURAS_PATH=lecturas
GOOGLE_APPLICATION_CREDENTIALS=C:/ruta/segura/firebase-clave.json
SERIAL_PORT=
SERIAL_BAUD_RATE=115200
SERIAL_RECONNECT_DELAY_MS=5000
