FIREBASE_DATABASE_URL=https://TU-PROYECTO-default-rtdb.firebaseio.com
FIREBASE_LECTURAS_PATH=lecturas
FIREBASE_ESTADOS_PATH=estados_dispositivos
GOOGLE_APPLICATION_CREDENTIALS=C:/ruta/segura/firebase-clave.json
DEVICE_ID=ESP32-001
SERIAL_PORT=
SERIAL_BAUD_RATE=115200
SERIAL_RECONNECT_DELAY_MS=5000
STATUS_HEARTBEAT_MS=5000
